.idea/
.code/
*.exe
*.exe~
*.dll
*.so
*.dylib
go4lage


pkg/sql/db/
backup/
data/
.env

*.test
*.out
vendor/


go.work

go4lage-admindashboard/node_modules
geminicv/
deploy.sh
docuenv.env
deployenv.env
prodenv.env
docu.env