html,
body {
  font-family: Arial, sans-serif;
  background-color: #6d6d6d;
  overflow-x: hidden;
  margin: 0px;
}

header,
footer {
  position: relative;
  z-index: 9;
  text-align: center;
  width: 100%;
}

header {
  color: whitesmoke;
  padding: 10px 0;
  background: linear-gradient(-30deg, #4fcbe0, #329dab, #28527a, #1b4965);
  /* background-size: 400% 400%; */
  /* animation: gradientBG 15s ease infinite; */
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.point-wrapper {
  border: 3px;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  background: linear-gradient(-30deg, #4fcbe0, #329dab);
  margin: 5px;
}

.subheader {
  display: flex;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
}

.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  margin: 5px;
  padding: 5px;
  min-width: 50px;
  background-color: #fff; /* White background for each item */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 10px; /* Rounded corners */
  text-align: center; /* Center text and content */
}

footer {
  background: linear-gradient(-30deg, #4fcbe0, #329dab, #28527a, #1b4965);

  padding: 0.5em;
}

button {
  font-size: larger;
  padding: 4px;
  margin: 4px;
}

.sidebar {
  z-index: 1;
  padding: 20px;
  padding-top: 40px;
  background: #ddd;
  width: 160px;
  padding-top: 0px;
  overflow: auto;
  text-align: end;
  box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
.sidebar div {
  margin: 20px 0;
  cursor: pointer;
}
.sidebar p {
  text-align: start;
  margin-top: 0px;
  margin-bottom: -10px;
}

section {
  padding: 10px;
  padding-left: 20px;
  background-color: #e0e0e0;
  width: 60vw;
}

.header-mobile {
  display: none;
}

.header-desktop {
  display: block;
}

@media all and (max-width: 620px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
  }

  .header-mobile h1 {
    display: block;
    font-size: 25px;
  }

  .sidebar {
    display: none;
  }

  section {
    width: 100vw;
  }
}

p {
  font-size: larger;
}

a {
  font-size: larger;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

a:hover {
  color: #ffffff; /* Nice hover effect changing the color */
  transform: scale(1.1);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.content {
  display: flex;
  justify-content: center;
}
.contentshadow {
  display: flex;
  justify-content: center;
}

.contentwrapper {
  position: relative;
  min-height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

pre {
  background-color: #aeaeae;
  color: #292929;
  padding: 2px;
  overflow-x: auto;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}

code {
  display: block;
}

/* Updated styles */
table {
  width: 100%; /* Full-width tables */
  border-collapse: collapse; /* Collapse borders */
  margin-top: 20px; /* Adds space above the table */
}

tr,
th,
td {
  border: 1px solid #585858; /* Adds a light border */
  padding: 8px; /* More padding for table cells */
}

th {
  color: rgb(48, 48, 48); /* Header text color */
  text-align: left; /* Aligns header text to the left */
}

ul,
ol {
  border-radius: 5px; /* Rounded corners */
  padding: 15px; /* Padding around the list */
}

li {
  margin-bottom: 5px; /* Space between list items */
  list-style-position: inside; /* Bullets inside to align text nicely */
}

h1 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: Arial, sans-serif;
  font-size: 48px;
  margin: 10px;
}
h2 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: Arial, sans-serif;
  font-size: 36px;
  margin: 10px;
}

h3 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: Arial, sans-serif;
  font-size: 30px;
  margin: 10px;
}

h4 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: Arial, sans-serif;
  font-size: 26px;
  margin: 10px;
}

.abouttext {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: Arial, sans-serif;
  font-size: 26px;
}

.header-bar div a {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 5px;
}

.menu-link {
  cursor: pointer;
  padding: 8px 15px; /* Adds padding inside the buttons */
  margin: 4px 5px; /* Adds space between buttons */
  text-decoration: none; /* Removes underline from links */
  color: whitesmoke; /* Sets text color to white */
  border-radius: 5px; /* Rounded corners for buttons */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}

.menu-link:hover,
.menu-link:focus {
  background-color: #4a82fa;
  color: white;
  transform: scale(1.1); /* Slightly enlarge on hover/focus */
}

/* Styles for the toast notification */

.toast {
  visibility: hidden; /* Hidden by default */
  width: 200px;
  min-height: 75px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  text-wrap: stable;
  border: 2px solid #292929; /* Solid border with color */
  border-radius: 20px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 999; /* Add a z-index if needed */
  right: 5%; /* Center the toast */
  top: 30px; /* 30px from the top */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
}

/* Show the toast when visible */
.toast.show {
  visibility: visible; /* Show the toast */
  /* Add animation: Take 0.5 seconds to fade in and out the toast */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
  animation: fadein 0.5s, fadeout 0.5s 5s;
}

.header-bar {
  display: none;
}

@media all and (max-width: 620px) {
  .header-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
