/* Base styles */
:root {
  --primary-color: #2c5dcd;
  --secondary-color: #2c3e50;
  --background-color: #f4f4f4;
  --text-color: #333;
  --header-color: #3b93d1;
    overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.6;
  margin-bottom: 1em;
}

/* Header */
.header {
  background-color: var(--header-color);
  color: white;
  padding: 1rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h1 {
  color: var(--text-color);
}

.logo-header img {
  height: 45px;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
}

#burger-menu {
  display: none;
}

.burger-menu-label {
  display: none;
  flex-direction: column;
  width: 30px;
  cursor: pointer;
}

.burger-menu-label span {
  background: white;
  height: 3px;
  margin: 3px 0;
  transition: 0.4s;
}

.header-bar {
  background-color: var(--secondary-color);
  padding: 0.25rem;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.nav-links a {
  color: white;
  margin: 0 10px;
}



/* Footer */
footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 1rem;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}

/* Expandable prerequisites */
.prerequisite {
  margin-bottom: 10px;  
}

.prerequisite-summary {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
}
.prerequisite-summary:hover {
  cursor: pointer;

  background-color: #e0e0e078;
 
}


.prerequisite-content {
  display: none;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 0 0 5px 5px;
}

.prerequisite-checkbox {
  display: none;
}

.prerequisite-checkbox:checked + .prerequisite-summary + .prerequisite-content {
  display: block;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

@media (max-width: 900px) {
main {
  padding: 0 0; 
}
.container {
  padding: 0;
 }

}


/* Responsive design */
@media (max-width: 768px) {

  .container {
    width: 95%;
  }

  .burger-menu-label {
    display: flex;
  }

  .header-bar {
    display: none;
  }

  #burger-menu:checked ~ .header-bar {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links a {
    display: block;
    padding: 10px;
  }

  #burger-menu:checked + .burger-menu-label span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  #burger-menu:checked + .burger-menu-label span:nth-child(2) {
    opacity: 0;
  }

  #burger-menu:checked + .burger-menu-label span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}
